<html>
	<body>
		<br>
		<a href={{ url_for('user_view_issues')}}>Log Out</a>
		<br>
		{% for i in results %}
			<p>{{i.name}}</p>
			<p>{{i.description}}</p>
			<p>{{i.priority}}</p>
			<p>{{i.department}}</p>
			<p>{{i.user_id}}</p>
			<label><b>Priority</b></label>
            <select name="status">
                <option value="pending">Pending</option>
                <option value="in-progress">In progress</option>
                <option value="resolved">Resolved</option>
            </select>
            <textarea rows="4" cols="50" name="comment" form="usrform">
            Enter comment here...</textarea>
           <br><br>
			<br>
			<br>
		{% endfor %}
	
</body>
</html>