<form>
<div class="container">
    <label><b>Issue Name</b></label>
    <input type="text" placeholder="Enter issue name" name="username" required>
   <br><br>
    <label><b>Issue Description</b></label>
    <input type="password" placeholder="Enter issue description" name="password" required>
  <br><br>
    <label><b>Priority</b></label>
    <input type="text" placeholder="Enter priority" name="email" required>
   <br><br>
    <label><b>Department</b></label>
    <input type="password" placeholder="Enter department" name="department" required>
  <br><br>
    <button type="submit">Submit</button>
 </div>