{%extends 'base.html'%}
{% block body %}
<form action={{url_for("sign_up")}} method="post">
<div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
   <br><br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
  <br><br>
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter email" name="email" required>
   <br><br>
    <label><b>Department</b></label>
    <select name="department">
        <option value="operations">Operations</option>
        <option value="finance">Finance</option>
        <option value="training">Training</option>
        <option value="recruitment">Recruitment</option>
        <option value="success">Success</option>
        <option value="sales">Sales</option>
        <option value="marketing">Marketing</option>
    </select>
  <br><br>
  <label><b>Designation</b></label>
  <select name="usertype">
        <option value="admin">Admin</option>
        <option value="user">User</option>
   </select>
  <br><br>
    <button type="submit">Sign Up</button>
 </div>
 {% endblock %}